---
// src/pages/km/privacy.astro
import Base from '../../layouts/Base.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Base>
  <!-- Privacy Policy Section -->
  <section class="bg-white text-gray-800 py-16 px-6 md:px-12 lg:px-16">
    <div class="container mx-auto">
      <h1 class="text-5ml md:text-6ml font-bold mb-6">គោលការណ៍នៃសិទ្ធិឯកជន</h1>
      <p>ក្រុមហ៊ុន ផុស្ការ ឌីជីធល ឯ.ក បានបង្កើតកម្មវិធីផលិតផលឌីជីថល (Digital Product Application) ដែលអាចជាកម្មវិធីប្រើប្រាស់ដោយឥតគិតថ្លៃ ឬជាកម្មវិធីដែល &ldquo;គិតថ្លៃ&rdquo; និង Cloud ERP ។</p>
      <p>កម្មវិធីផលិតផលឌីជីថលរបស់ក្រុមហ៊ុនរួមមាន៖ Wiki School, Wiki College, Wiki TV, Wiki HRM, Wiki POS, Blue Pinn និងកម្មវិធីដទៃទៀត (ហៅជារួមថា &ldquo;កម្មវិធី&rdquo;) និង Cloud ERP ដែលមានកម្មវិធី Vithean។</p>
      <p>ឯកសារនេះមានបំណងជម្រាបជូនលោកអ្នក និងអ្នកប្រើប្រាស់ អំពីគោលការណ៍របស់យើងខ្ញុំទាក់ទងនឹងការប្រមូល ការប្រើប្រាស់ និងការបញ្ចេញព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នក នៅពេលលោកអ្នកប្រើប្រាស់កម្មវិធី និងសេវារបស់យើងខ្ញុំ។</p>
      <p>ប្រសិនបើលោកអ្នកជ្រើសរើសការប្រើប្រាស់កម្មវិធី និងសេវារបស់យើងខ្ញុំ មានន័យថាលោកអ្នកបានយល់ព្រមលើការប្រមូល ការប្រើប្រាស់ និងការបញ្ចេញព័ត៌មានរបស់លោកអ្នក ដែលបានរៀបរាប់ក្នុងគោលការណ៍នេះ។ ព័ត៌មានផ្ទាល់ខ្លួនដែលយើងខ្ញុំប្រមូលបាន នឹងត្រូវយកមកប្រើសម្រាប់ការផ្ដល់ និងកែលំអកម្មវិធី និងសេវារបស់យើងខ្ញុំ។ យើងខ្ញុំនឹងមិនប្រើប្រាស់ ឬចែករំលែកព័ត៌មានរបស់លោកអ្នកជាមួយអ្នកណាផ្សេងឡើយ លើកលែងតែមានបញ្ជាក់ក្នុងគោលការណ៍នៃសិទ្ធិឯកជននេះ។</p>
      <p><strong>ការប្រមូល និងការប្រើប្រាស់ព័ត៌មាន</strong></p>
      <p>ដើម្បីឱ្យក្រុមហ៊ុនយើងខ្ញុំអាចផ្តល់សេវាជូនលោកអ្នកឱ្យបានកាន់តែប្រសើរ នៅពេលប្រើប្រាស់កម្មវិធី និងសេវាយើងខ្ញុំ លោកអ្នកគប្បីផ្តល់ឱ្យយើងខ្ញុំនូវព័ត៌មានដែលអាចកំណត់អត្តសញ្ញាណរបស់លោកអ្នកបាន ដូចជា ឈ្មោះ ថ្ងៃខែឆ្នាំកំណើត ភេទ និង/ឬលេខទូរស័ព្ទ និងអ៊ីម៉ែលរបស់លោកអ្នក (&ldquo;ព័ត៌មានផ្ទាល់ខ្លួន&rdquo;)។ ប្រសិនបើលោកអ្នកមិនអាចផ្តល់ព័ត៌មានផ្ទាល់ខ្លួនឱ្យយើងខ្ញុំបានទេ លោកអ្នកមិនអាចប្រើប្រាស់ផ្នែកខ្លះនៃកម្មវិធី ឬសេវារបស់ក្រុមហ៊ុនយើងខ្ញុំបានឡើយ។ ព័ត៌មានដែលយើងខ្ញុំស្នើសុំនឹងត្រូវរក្សាទុក និងយកមកប្រើប្រាស់ ដូចបានរៀបរាប់ក្នុងគោលការណ៍នៃសិទ្ធិឯកជននេះ។</p>
      <p>ដោយសារព័ត៌មានទាំងនោះជាព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នក លោកអ្នកមានសិទ្ធិលើព័ត៌មានទាំងនេះ ដូចជា ៖</p>
      <ul>
      <li>ត្រួតពិនិត្យ និងធ្វើបច្ចុប្បន្នភាពព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នក ដើម្បីធានាថា ព័ត៌មានទាំងនោះត្រឹមត្រូវ និងមានបច្ចុប្បន្នភាព។</li>
      <li>ស្នើសុំយើងខ្ញុំឱ្យកំហិតការបញ្ជូនព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នក ឬលុបព័ត៌មានទាំងនោះចេញ។ និង</li>
      <li>បដិសេធការបន្តបញ្ជូនព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នក។</li>
      </ul>
      <p>កម្មវិធី ឬប្រព័ន្ធ ERP របស់យើងខ្ញុំ អាចប្រើប្រាស់សេវារបស់តតិយជន ប្ញក្រុមហ៊ុនផ្សេង ដែលពួកគេអាចប្រមូល និងប្រើប្រាស់ព័ត៌មាននានា សម្រាប់កំណត់អត្តសញ្ញាណរបស់លោកអ្នក។</p>
      <p><strong>សេវារបស់តតិយជន</strong></p>
      <p>កម្មវិធី និងប្រព័ន្ធរបស់ក្រុមហ៊ុនយើងខ្ញុំត្រូវបានបង្កើត និងរចនាឡើងតាមស្តង់ដារមួយ ដែលអនុញ្ញាតឱ្យប្រព័ន្ធរបស់តតិយជន ប្ញក្រុមហ៊ុនផ្សេងអាចភ្ជាប់មកប្រព័ន្ធយើងខ្ញុំបាន តាម API តាមការអនុញ្ញាតរបស់លោកអ្នក។ ការរចនាបែបនេះ គឺដើម្បីផ្តល់លទ្ធភាពឱ្យក្រុមហ៊ុនយើងខ្ញុំអាចផ្តល់សេវាជូនលោកអ្នក និងអតិថិជនរបស់យើងខ្ញុំ កាន់តែប្រសើរឡើង និងធ្វើឱ្យការប្រើប្រាស់កម្មវិធីកាន់តែមានភាពសម្បូរបែប។</p>
      <p>តំណភ្ជាប់ប្រព័ន្ធរបស់តតិយជនអាចមានដូចជា៖</p>
      <ul>
      <li>API របស់ ធនាគារ ឬភ្នាក់ងារបង់ប្រាក់</li>
      <li>ឧបករណ៍ដូចជា POS, ឧបករណ៍ស្កេនកាត (Card Scanner), NFC, ឬឧបករណ៍ជីវមាត្រ (Biomatric) ។ល។</li>
      </ul>
      <p>&nbsp;</p>
      <p>យើងខ្ញុំប្រើប្រាស់ ឬបញ្ជូនទិន្នន័យ តាមតម្រូវការមូលដ្ឋានរបស់យើងខ្ញុំ និងតាមគោលការណ៍នៃសិទ្ធិឯកជន និង/ឬ ខ និងលក្ខខណ្ឌប្រើប្រាស់សេវារបស់ពួកគេ តែប៉ុណ្ណោះ។</p>
      <p>យើងខ្ញុំអាចជួលក្រុមហ៊ុន ឬបុគ្គលផ្សេង សម្រាប់គោលបំណង និង ហេតុផលដូចខាងក្រោម៖</p>
      <ul>
      <li>ដើម្បីសម្របសម្រួលដំណើរការនៃសេវារបស់យើងខ្ញុំ</li>
      <li>ដើម្បីផ្ដល់សេវាជំនួសឱ្យយើងខ្ញុំ</li>
      <li>ដើម្បីផ្ដល់សេវាពាក់ព័ន្ធ ឬ</li>
      <li>ដើម្បីជួយយើងខ្ញុំវិភាគ របៀបដែលសេវារបសយើងខ្ញុំត្រូវបានប្រើប្រាស់។</li>
      </ul>
      <p>តតិយជនទាំងនេះ អាចទទួលបានព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នក នៅពេលពួកគេផ្តល់សេវាឱ្យមកក្រុមហ៊ុនយើងខ្ញុំ។ តតិយជនត្រូវបានហាមឃាត់មិនឱ្យប្រមូល ប្រើប្រាស់ ឬបញ្ចេញព័ត៌មានរបស់លោកអ្នក លើកលែងតែពេលដែលពួកគេបំពេញការងារសម្រាប់យើងខ្ញុំ ឬនៅពេលច្បាប់នៃព្រះរាជាណាចក្រកម្ពុជា តម្រូវឱ្យមានការបញ្ចេញព័ត៌មានទាំងនោះ។ ពួកគេមានកាតព្វកិច្ចក្នុងការមិនបញ្ចេញ ឬមិនប្រើប្រាស់ព័ត៌មានទាំងនោះសម្រាប់គោលបំណងផ្សេងពីនេះ។</p>
      <p><strong>កំណត់ត្រាទិន្នន័យ (Log Data)</strong></p>
      <p>សូមរំលឹកផងដែរថា គ្រប់ពេលដែលលោកអ្នកប្រើប្រាស់សេវារបស់យើងខ្ញុំ ក្នុងករណីដែលមាន កំហុសឆ្គង (error) ក្នុងកម្មវិធី ឬ ERP យើងខ្ញុំនឹងប្រមូលទិន្នន័យ និងព័ត៌មាន (តាមរយៈកម្មវិធីរបស់តតិយជន) នៅលើទូរស័ព្ទដៃរបស់លោកអ្នក (&ldquo;ទិន្នន័យកត់ត្រា&rdquo;)។ ទិន្នន័យកត់ត្រានេះ អាចត្រូវរួមបញ្ចូលទាំងព័ត៌មានដូចជា អាស័យដ្ឋាន IP លើឧបករណ៍របស់លោកអ្នក ឈ្មោះឧបករណ៍ ជំនាន់នៃប្រព័ន្ធប្រតិបត្តិការ ការកំណត់រចនាសម្ព័ន្ធរបស់កម្មវិធីនៅពេលកម្មវិធីរបស់តតិយជនទាំងនោះប្រើប្រាស់សេវារបស់យើងខ្ញុំ ពេលវេលា និងកាលបរិច្ឆេទដែលលោកអ្នកបានប្រើប្រាស់សេវា និងស្ថិតិដទៃទៀត។</p>
      <p><strong>Cookies</strong></p>
      <p>Cookies គឺជាហ្វាល (Files) ដែលមានទិន្នន័យតិចតួច ដែលត្រូវបានប្រើប្រាស់ជាទូទៅសម្រាប់កំណត់អត្តសញ្ញាណដូចគ្នា និងឥតឈ្មោះ។ Cookies ត្រូវបានផ្ញើចូល ប្រោស័រ (Browser) របស់លោកអ្នកពីគេហទំព័រដែលលោកអ្នកបានចូលមើល និងត្រូវបានរក្សាទុកនៅក្នុងអង្គចងចាំរបស់ឧបករណ៍របស់លោកអ្នក។</p>
      <p>សេវានេះមិនប្រើប្រាស់ Cookies ដោយផ្ទាល់នោះទេ។ ប៉ុន្តែកម្មវិធីអាចប្រើប្រាស់កូដ និងបណ្ណាល័យរបស់តតិយជន ដែលប្រើប្រាស់ Cookies ដើម្បីប្រមូលព័ត៌មាន និងធ្វើឱ្យសេវាពួកគេកាន់តែប្រសើរឡើង។ លោកអ្នកមានជម្រើសក្នុងការទទួល ឬបដិសេធ Cookies ទាំងនោះ និងអាចដឹងថាពេលណា Cookies ទាំងនោះត្រូវបានបញ្ជូនចូលឧបករណ៍របស់លោកអ្នក។ ប្រសិនបើលោកអ្នក បដិសេធមិនទទួលយក Cookies លោកអ្នកមិនអាចប្រើប្រាស់ផ្នែកខ្លះនៃសេវានោះបានទេ។</p>
      <p><strong>កម្មសិទ្ធិលើទិន្នន័យ</strong></p>
      <p>បន្ទាប់ពីលោកអ្នកឈប់ប្រើប្រាស់សេវាយើងខ្ញុំ ព័ត៌មានផ្ទាល់ខ្លួនដែលលោកអ្នកបានផ្តល់ឱ្យយើងខ្ញុំនៅបន្តរក្សាទុកនៅក្នុងកម្មវិធីរបស់យើងខ្ញុំ ដែលយើងខ្ញុំអាចប្រើប្រាស់ព័ត៌មានទាំងនេះ សម្រាប់ការផ្សព្វផ្សាយទីផ្សាររបស់យើងខ្ញុំតែប៉ុណ្ណោះ។ យើងខ្ញុំផ្តល់ជម្រើសជូនលោកអ្នក ថាតើលោកអ្នកចង់ ឬមិនចង់ទទួលបាននូវព័ត៌មានផ្សព្វផ្សាយណាមួយ ប្រសិនបើព័ត៌មានទាំងនោះមិនពាក់ព័ន្ធ ឬមិនទាក់ទងនឹងចំណាប់អារម្មណ៍របស់អ្នក។</p>
      <p><strong>សុវត្ថិភាព</strong></p>
      <p>យើងខ្ញុំប្រឹងប្រែងប្រើប្រាស់មធ្យោបាយដែលមាន និងសមស្របតាមលក្ខណ:ពាណិជ្ជកម្ម ដើម្បីការពារព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នកដែលផ្តល់ឱ្យយើងខ្ញុំពី (១) ការបំផ្លាញដោយចៃដន្យ ឬដោយមិនស្របច្បាប់ និង (២) ការបាត់បង់ ការកែប្រែ ការបញ្ចេញ ឬការចូលទៅកាន់ទិន្នន័យផ្ទាល់ខ្លួនរបស់លោកអ្នកដោយគ្មានការអនុញ្ញាត។ សូមចងចាំថា គ្មានវិធីនៃការបញ្ជូនតាមអ៊ិនធឺណិត ឬវិធីនៃការរក្សាទុកបែបអេឡិចត្រូនិចណាមួយដែលមានសុវត្ថិភាព និងអាចទុកចិត្តបាន១០០%នោះទេ អាស្រ័យហេតុនេះ យើងខ្ញុំក៏មិនអាចធានាសុវត្ថិភាពពេញលេញចំពោះព័ត៌មានទាំងនោះបានដែរ។</p>
      <p><strong>តំណភ្ជាប់ទៅកាន់គេហទំព័រផ្សេងទៀត</strong></p>
      <p>សេវានេះអាចមានតំណភ្ជាប់ទៅកាន់គេហទំព័រផ្សេងទៀត។ ប្រសិនបើលោកអ្នកចុចលើតំណភ្ជាប់របស់តតិយជន លោកអ្នកនឹងត្រូវបាននាំទៅកាន់គេហទំព័រនោះ។ គួរកត់សម្គាល់ផងដែរថា គេហទំព័រខាងក្រៅទាំងនេះមិនស្ថិតនៅក្រោមការគ្រប់គ្រងរបស់យើងខ្ញុំទេ។ ហេតុនេះ យើងខ្ញុំសូមណែនាំ លោកអ្នក ឱ្យពិនិត្យមើលគោលការណ៍នៃសិទ្ធិឯកជនរបស់គេហទំព័រទាំងនោះ។ យើងខ្ញុំមិនអាចគ្រប់គ្រង ហើយក៏មិនទទួលខុសត្រូវលើខ្លឹមសារ គោលការណ៍នៃសិទ្ធិឯកជន ឬការអនុវត្តអ្វីមួយរបស់គេហទំព័រ ឬសេវារបស់តតិយជនឡើយ។</p>
      <p><strong>ការរក្សាទុកព័ត៌មាន</strong></p>
      <p>រយៈពេលដែលយើងខ្ញុំរក្សាទុកទិន្នន័យផ្ទាល់ខ្លួនរបស់លោកអ្នក អាស្រ័យទៅលើទិន្នន័យនោះ និងតម្រូវការអាជីវកម្មដែលត្រូវរក្សាទិន្នន័យនោះ។</p>
      <p>យើងខ្ញុំនឹងរក្សាទិន្នន័យផ្ទាល់ខ្លួនរបស់លោកអ្នក ក្នុងអំឡុងពេលយើងខ្ញុំមានទំនាក់ទំនងជាមួយលោកអ្នក និងក្នុងអំឡុងពេលបន្ទាប់ពីនោះ ប្រសិនបើយើងខ្ញុំមានតម្រូវការអាជីវកម្ម ត្រូវរក្សាទិន្នន័យនេះ ស្របតាមគោលការណ៍ និងការអនុវត្តនៃការរក្សាទុកទិន្នន័យរបស់យើងខ្ញុំ។ បន្ទាប់ពីរយៈពេលនោះ យើងខ្ញុំនឹងលុបទិន្នន័យ ឬលុបឈ្មោះក្នុងទិន្នន័យ។</p>
      <p>អាចមានកាលៈទេសៈខ្លះ ដែលយើងខ្ញុំមិនអាចលុបទាំងស្រុង លុបឈ្មោះ ឬលុបអត្តសញ្ញាណព័ត៌មានរបស់លោកអ្នកបានទាំងស្រុង ដោយសារហេតុផលបច្ចេកទេស ច្បាប់ អនុលោមភាពតាមបទប្បញ្ញត្តិ ឬហេតុផលប្រតិបត្តិការផ្សេងទៀត។ ក្នុងករណីនេះ យើងខ្ញុំនឹងចាត់វិធានការសមស្រប ដើម្បីផ្តាច់ព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នកអោយមានសុវត្ថិភាពពីការប្រើប្រាស់បន្តទៀត រហូតដល់ពេលដែលយើងខ្ញុំអាចលុបទិន្នន័យ លុបឈ្មោះ ឬលុបអត្តសញ្ញាណវាបាន។</p>
      <p><strong>ការកែប្រែគោលការណ៍នៃសិទ្ធិឯកជន</strong></p>
      <p>យើងខ្ញុំអាចនឹងកែប្រែគោលការណ៍នៃសិទ្ធិឯកជននេះនៅពេលណាមួយ។ ហេតុនេះ យើងខ្ញុំសូមណែនាំលោកអ្នក ឱ្យចូលមើលគេហទំព័រនេះជារឿយៗ ដើម្បីបានដឹងពីការកែប្រែណាមួយ។ យើងខ្ញុំនឹងជូនដំណឹងដល់លោកអ្នកនៅពេលមានការកែប្រែកើតឡើង ដោយដាក់គោលការណ៍នៃសិទ្ធិឯកជនថ្មីនៅលើគេហទំព័រនេះ។</p>
      <p><strong>ទំនាក់ទំនងយើងខ្ញុំ</strong></p>
      <p>ប្រសិនបើលោកអ្នកមានសំណួរ ឬសំណូមពរណាមួយអំពីគោលការណ៍នៃសិទ្ធិឯកជនរបស់យើងខ្ញុំ សូមទាក់ទងមកពួកយើងតាមរយៈ info@poscardigital.com។</p>
      
    </div>
  </section>
</Base>
